body {
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center; 
}
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; 
}
input {
    text-align: center;
    padding: .5rem;
    font-weight: 700;
    border-style: solid;
    border-radius: 30px;
    margin-top: .5rem;
    border-width: .2rem;
    color: #666666ff;
    outline: none;
}
input#login {
    width: 25%;
    border-style: none;
    border-radius: 30px;
}
button{
				width: 79%;
				height: 2.7rem;
				border-style: none;
				border-radius: 30px;	
				font-weight: 700;
				background-color: #deaa87ff;
				color: white;	
}

