body{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 10px;
  background-color: whitesmoke;
  overflow-y: hidden;
}

main{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 500px;
}



#left_panel ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  font-family: outfit;
  font-size: 1.1rem;
  margin-top: 5px;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 20px;
  margin-left: -5rem;
}

#left_panel ul li a#active{
  background-color: #cd9976ee;
  color: white;
  border: none;
  border-radius: 30px;  
}

#left_panel ul li a{
  display: block;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  margin-bottom: 2px;
  padding: .5rem 3rem;
  color: gray;
}

#left_panel ul li a:hover{
  background-color: whitesmoke;
  border: none;
  border-radius: 30px; 
  transition-property: background-color;
  transition-duration: 0.8s;
  transition-timing-function: ease-out; 
}

#cart_panel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
   background-color: white;
   margin-left: 1rem;
   margin-right: 1rem;
   margin-bottom: -27rem;
   border-radius: 20px;
  padding-top: 1rem;
}
#cart_panel h3, #cart_panel h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
  padding-left: 11%;
  font-family: outfit;
}
#cart_panel textarea{
  height: 45px;
  width: 70%;
  font-size: 2rem;
  color: black;
  text-align: center;
  padding: 50px;
  margin-top: 0;
  margin-bottom: 1.5%;
  resize: none;
  border-radius: 10px;
  border-style: solid;
}
#cart_panel table, #right_panel table{
  width: 78%;
  text-align: center;
  color: grey;
  font-family: outfit;
  border-radius: 20px;
}

#cart_panel table th, #right_panel table th{
  outline: 1px solid gray;
  padding: 10px 5px;
  width: 76%;
  table-layout: fixed;
  resize: both;
  overflow: auto;
}

#cart_panel table tr{
  display: table;
  width: 100%;
  table-layout: fixed
}

#cart_panel table thead tr{
  display: table;
  width: 100%;
  table-layout: fixed
}

#cart_panel table td{
  padding: 1px 1px 1px 10px ;
  width: 78%;
}

#cart_panel table caption{
  text-align: left;
  margin-left: -7rem;
  color: black;
  font-family: outfit;
}

#cart_panel table tbody{
  display: block;
  max-height: 350px;
  overflow-y: auto;
  width: 100%;
}

#right_panel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: -25rem;
  margin-right: -5rem;
  border-radius: 20px;
  width: 20rem;
}

#right_panel #buttons{
  margin-top: auto;
}

#buttons form{
  display: flex;
  flex-wrap: wrap;
}

button{
  width: 9.685rem;
	height: 2.5rem;
	border-style: none;
	border-radius: 30px;	
	font-weight: 700;
	font-size: 1.2rem;
	margin-right: 5px;
	font-family: outfit;
  text-align: center;
  padding-top: 2px 5px;
  border-width: .2rem;
}

button#paid:hover{
  color: black;
  background-color: white;
  border-style: solid;
  border-color: green;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

button#cancel:hover{
  color: red;
  background-color: white;
  border-style: solid;
  border-color: red;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

button#paid{
  background-color:#cd9976ee; 
	color:white;
}

button#cancel{
  background-color: #484848; 
  color:white;
}

#search_bar{
  width: 200px;
  height: 40px;
  border-radius: 40px; 
  border-style: solid;
  padding: .5rem 3rem;
  margin-bottom: 5px;
  outline-style: none;
  text-align: center;
  font-family: outfit;
  font-size: 1.1rem;
  background-color: whitesmoke;
  color: black;
  border-width: .2rem;
}

#search_bar:focus{
  color: black;
  background-color: white;
  border-style: solid;
  border-color: green;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#search_group{
  display: flex;
}

select{
  width: 105px;  
  padding: 5px 15px;
  border-radius: 30px; 
  border-style: solid;
  margin-right: 5px;
  font-family: outfit;
  font-size: 1rem;
  list-style-type: none;
}

#right_panel h4{
  font-family: outfit;
  font-size: 1rem;
  align-self: flex-start;
  padding-left: 4px;
}

.amount_prompt{
  width: 210px;
  height: 25px;
  border-radius: 40px; 
  border-style: solid;
  padding: .5rem 3rem;
  margin-bottom: 5px;
  outline-style: none;
  text-align: center;
  font-family: outfit;
  font-size: 1.1rem;
   background-color: whitesmoke;
  color: black;
  border-width: .2rem;
}

.amount_prompt:focus, .amount_prompt:hover, #edit:hover{
  color: black;
  background-color: white;
  border-style: solid;
  border-color: green;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#edit{
  width: 120px;
  height: 40px;
  border-radius: 40px; 
  border-style: solid;
  padding: .5rem 2rem;
  margin-bottom: 5px;
  outline-style: none;
  text-align: center;
  font-family: outfit;
  font-size: 1rem;
  font-weight:normal;
  background-color: whitesmoke;
  color: black;
  border-width: .2rem;
}